:root {
  --color-text: #757575;
  --color-title: #212121;
  --color-accent: #2196f3;
  --studio-color: black;
  --hero-text-color: #ffffff;
  --background-team-color: #f5f4fa;
  --background-footer: #2f303a;
  --footer-studio: white;
  --futer-contacts: #ffffff99;

  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

html {
  box-sizing: border-box;
}

.body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--color-text);
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  outline: 2px solid tomato;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/*header*/

/*logo*/

.main-nav {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  display: inline-block;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway";
  padding: 0px;
  margin-right: 90px;
  text-decoration: none;
}

.logo-text {
  color: black;
}

.logo-text-footer {
  color: white;
}

.site-nav,
.auth-nav {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.auth-nav {
  margin-left: auto;
  color: var(--color-text);
}

.auth-nav .list {
  text-decoration: none;
  color: var(--color-text);
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--color-title);
}

.item .link:hover,
.item .link:focus,
.auth-nav .list:hover,
.auth-nav .list:focus {
  color: var(--color-accent);
}

/*navigation block*/

.nav-link-current {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  color: #2196f3;
  letter-spacing: 0.02em;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
  letter-spacing: 0.02em;
}




.links-box {
  display: inline-block;
  margin-right: 50px;
  text-align: center;
}



.btn {
  background-color: var(--background-team-color);
  cursor: pointer;
  color: var(--color-h2-h3);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  overflow: auto;
}

.btn:focus,
.btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}

/*hero block*/

.hero {
  background: #2f303a;
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-text {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-bottom: 30px;

  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-hero {
  display: inline-block;
  width: 200px;
  height: 50px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background: var(--color-accent);
}

/*features block*/

.section-list {
  display: flex;

  padding: 94px 0px;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-list .li + .li {
  margin-left: 30px;
  width: 270px;
}

.section-title {
  margin-bottom: 10px;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-title);
}

/*our team and specification block*/

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--color-title);
  margin-bottom: 50px;
}

.section .item {
  display: flex;
}

.item .img + .img {
  margin-left: 30px;
}

.item {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

.img {
  margin-bottom: 94px;
}

/* Наша команда */

.section-team .container {
  background-color: var(--background-team-color);
}



.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.item {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.item .team-item {
  width: 270px;
  height: 260px;
  display: inline-block;
}

.item .team-item + team-item {
  margin-left: 30px;
}
.team-item .img {
  margin-bottom: 30px;
}

.section-team .text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 94px;
}

.team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.19;
  text-align: center;
  color: var(--color-title);
}



/*footer block*/

.list-footer .list{
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  text-decoration: none;

}

.list-footer {
  margin: 0px;
}
.footer-bg {
  background-color: var(--background-footer);
}

.address {
  font-style: normal;
  line-height: 1.71;
  color: var(--hero-text-color);
}


.list-footer .list:hover,
.list-footer .list:focus {
  color: var(--color-accent);
}

.footer-bg .container {
  padding: 60px;

}


/*portfolio projects block */

/* .projects {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
} */

/* .projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
} */

/* .projects-text {
  line-height: 1.87;
  color: #757575;
} */

/*карточки-портфолио*/

.card-set {
  padding: 0;
  margin: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card-set > .portfolio-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-thumb {
  outline: 1px solid red;
  overflow: hidden;
  margin-bottom: 30px;
}

.card 
{
  box-shadow: var(--card-shadow);
  overflow: hidden;
  margin-right: 30px;
}


.card-content {
  padding: 0px;
  margin-bottom: 30px;

}

.card-text {
  margin-top: 10px;
text-align: center;
}
